*,
*::befpre,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    display: grid;
    grid-template-columns:  repeat(8,1fr)
}

.header__top{
    display: flex;

}

.nav--left{
    display: flex;
    align-items: center;
    justify-content: start;
}

.google__logo{
    width: 15%;
    margin-right: 3rem;
}

.form{
    display: flex;
}

#search{
    width: 50vw;
    max-width: 50rem;
    height: 4rem;
    border-radius: 10rem;
    border: 1px solid #e1e1e1;
    font-size: 1.5rem;
    text-align: start;
    margin: 1rem;
    box-shadow: -.1rem .1rem .5rem rgba(0,0,0,.3);
    

}

.bar__icons{

    margin-left: -5rem;
    
}

.nav--right{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.nav--btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(17, 17, 194);
    color: #fff;
    border-radius: .5rem;
    border: none;
    
    cursor: pointer;
    font-size: 1.4rem;
}

.nav__sub--left{
    display: flex;
    justify-content: center;
}

.nav__sub--right{
    display: flex;
    justify-content: center;
}

.search__icon{
    height: 1.5rem;
    width: 1.5rem;
  
    
   
}